.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Header {
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 16px 0;
}

.Main {
  flex-shrink: 1;
  display: flex;
  overflow: auto;
}

.Problem-Pane {
  padding: 48px;
  overflow-y: auto;
}

.Problem-Title {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
}

.Problem-Difficulty {
  margin: 16px 0;
  font-size: 24px;
  font-weight: 600;
  color: #0a0;
}

.Problem-Divider {
  margin: 32px 0;
  width: 500px;
  border-top: 1px solid #ccc;
}

.Problem-Description {
  width: 500px;
  font-size: 24px;
  line-height: 40px;
}

.Inline-Code {
  font-size: 20px;
  padding: 2px;
  font-family: monospace;
  background-color: #eaeaea;
  border-radius: 6px;
}

.Sample-Title {
  font-size: 24px;
  font-weight: 600;
}

.Sample-Block {
  font-size: 20px;
  font-family: monospace;
  background-color: #eaeaea;
  border-radius: 6px;
  padding: 16px;
  line-height: 32px;
  width: 468px;
}

.Code-Pane {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.Code-Subpane {
  flex-grow: 1;
  background-color: red;
  overflow: auto;
  border-bottom: 1px solid #ccc;
}

.Submit-Pane {
  text-align: right;
  padding: 32px;
}

.Submit-Button {
  background-color: green;
  color: white;
  border: 0;
  padding: 16px 24px;
  font-size: 32px;
  border-radius: 6px;
  margin: 0 16px;
}

.Submit-Button:hover {
  cursor: pointer;
}

.react-codemirror2 {
  width: 100%;
  height: 100%;
}

.CodeMirror {
  height: 100%;
}

.CodeMirror *  {
  font-size: 20px;
}
